---
// Importation des composants nécessaires
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Rayane JERBI" description="Découvrez le parcours et les compétences de Rayane JERBI, étudiant en Bachelor Développeur Sécurité et IT.">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos de Rayane JERBI"
        tagline="En dernière année de Bachelor Sécurité et IT à l'ECE Paris, je finaliserai mon diplôme ce semestre et entamerai un Master. Actuellement à la recherche d'un stage de 4 à 5 mois pour compléter mon bachelor, je suis également intéressé par une alternance de deux ans à partir de septembre 2024 dans la cybersécurité, les réseaux, ou le développement web et mobile. Passionné et méticuleux, je suis déterminé à enrichir votre entreprise en approfondissant mes compétences dans un environnement professionnel stimulant."
      >
	  <img
			width="1553"
			height="873"
			src="/assets/portrait.jpg"
			alt="Rayane JERBI"
		/>
      </Hero>

      <section>
        <h2 class="section-title">Parcours</h2>
        <div class="content">
          <p>
            Actuellement étudiant à l'Ecole Centrale d’Electronique (ECE) à Paris, je me spécialise en cybersécurité et technologies de l'information. Passionné par l'évolution constante de la technologie, je cherche constamment à apprendre et à me développer dans ce domaine.
          </p>
          <p>
            Au cours de mes études, j'ai acquis une expérience pratique en développement web, systèmes d'exploitation, et en cybersécurité, à travers divers projets et stages, notamment dans la création de réseaux locaux virtuels et le développement d'applications web et mobiles.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Formation</h2>
        <div class="content">
          <p>
            - Bachelor Développeur Sécurité et IT à l'Ecole Centrale d’Electronique (ECE), Paris. Premier de la promotion.
          </p>
          <p>
            - Baccalauréat Général Scientifique au Lycée Carnot, Cannes. Mention Bien, option Musique au Conservatoire de Cannes.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Certifications</h2>
        <div class="content">
          <ul>
            <li><strong>Sécurité du Cloud</strong> - Certificat numéro 161aa304-e734-4081-b861-f2dd67795d01, DataScientest, délivré à Paris le 22/03/2024.</li>
            <li><strong>Introduction à Python</strong> - Certificat numéro 53a03615-872d-4dbb-85b6-b28a6cbf23f3, DataScientest, délivré à Paris le 16/01/2024.</li>
            <li><strong>Bash and Linux</strong> - Certificat numéro 47c53f3c-e743-4543-a51c-91be51c53f6d, DataScientest, délivré à Paris le 18/01/2024.</li>
            <li><strong>Prévention Sup'</strong> - Attestation numéro 225868, délivrée le 22/02/2024 pour le serious game en santé et sécurité au travail par INRS.</li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="section-title">Expériences Professionnelles</h2>
        <div class="content">
          <div class="experience-item">
            <strong>Mai 2023 - Août 2023</strong> - <em>Administrateur Systèmes & Réseaux</em> – Next Step IT, Tunis
            <p>
              Stage de 4 mois : Gestion de projets IT, configuration de solutions Fortinet, sensibilisation aux bonnes pratiques informatiques.
            </p>
          </div>
          <div class="experience-item">
            <strong>Juil. 2022 - Août 2022</strong> - <em>Administrateur Systèmes & Réseaux</em> - Siège de la Banque Tuniso-Libyenne, Tunis
            <p>
              Stage de 2 mois : Renouvellement de l'architecture réseau, migration Cisco vers Fortinet, mise à jour des profils de sécurité.
            </p>
          </div>
          <div class="experience-item">
            <strong>Sept. 2021 – Actuel</strong> - <em>Ambassadeur</em> - ECE, Paris
            <p>
              Promotion de l'école, organisation d'événements, interaction avec la communauté éducative.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <ul>
            <li>Systèmes d'Exploitation: Linux, Windows, MacOS</li>
            <li>Programmation: C, JAVA, Python</li>
            <li>Web Front-End: React js, React native, HTML/CSS, Javascript, Bootstrap</li>
            <li>Web Back-End: PHP, Symfony, Laravel, Kotlin, JEE, NodeJS</li>
            <li>Base de Données: SQL, MongoDB</li>
            <li>DevOps & Versionning: Docker, GIT, GitHub, Gitlab</li>
            <li>Méthodologie et Conception: Agile SCRUM, UML, Figma</li>
            <li>Réseaux Informatiques:
              <ul>
                <li>Protocoles: TCP/IP, VLAN, LAN, Mode Trunk, DHCP, DNS, HTTPS/HTTP, Adressage IPv4/IPv6, Routage statique et dynamique</li>
                <li>Configuration/Maintenance: Routeurs, Switchs, Serveurs, Firewall</li>
                <li>Outils: Cisco Packet Tracer, Fortinet</li>
              </ul>
            </li>
            <li>Cybersécurité: Injection SQL, XSS, CSRF, Brute Force, File Upload sous Kali Linux et DVWA, Audits de sécurité avec Métasploitable</li>
          </ul>
        </div>
      </section>      
    </main>

    <ContactCTA />
  </div>
</BaseLayout>


<style>
	p strong, p em {
    font-size: 0.9rem;
    color: var(--gray-200);
}

p em {
    font-style: italic;
}


	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
