---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Rayane JERBI" description="About Rayane JERBI, a passionate student in Cybersecurity and IT.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Rayane JERBI"
				tagline="Étudiant en Cybersécurité et IT, passionné par l'informatique et la technologie. Découvrez mon parcours et mes compétences ci-dessous."
			>
			<img
			width="1553"
			height="873"
			src="/assets/portrait.jpg"
			alt="Rayane JERBI"
		/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Actuellement étudiant à l'Ecole Centrale d’Electronique (ECE) à Paris, je me spécialise dans la cybersécurité et l'IT. J'ai une passion pour la technologie et je suis toujours à la recherche de nouvelles opportunités pour apprendre et grandir dans ce domaine.
					</p><br>
					<p>
						Au cours de mes études, j'ai acquis une solide expérience en développement web, en systèmes d'exploitation et en sécurité informatique. J'ai également eu l'opportunité de travailler sur plusieurs projets passionnants, notamment la création de réseaux locaux virtuels et le développement de sites web.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						- Bachelor : Développeur Sécurité et IT à l'Ecole Centrale d’Electronique (ECE), Paris. 3ème de la promotion.
					</p>
					<p>
						- Baccalauréat Général : Scientifique au Lycée Carnot, Cannes. Mention Bien avec une option en Musique orientale au Conservatoire de Cannes.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Expériences Professionnelles</h2>
				<div class="content">
					
					<div class="experience-item">
						<strong>Mai 2023 - Août 2023</strong> - <em>Administrateur Systèmes & Réseaux</em> – Next Step IT, Tunis
						<p>
							Stage de 4 mois : Installation, paramétrage, sécurisation et maintenance des infrastructures. Configuration de FortiGates 30E, FortiSwitch, FortiAP, ACLs, antivirus et filtres DNS. Sensibilisation des employés aux bonnes pratiques informatiques.
						</p>
					</div><br>
			
					<div class="experience-item">
						<strong>Juil. 2022 - Août 2022</strong> - <em>Administrateur Systèmes & Réseaux</em> - Siège de la Banque Tuniso-Libyenne, Tunis
						<p>
							Stage de 2 mois : Mise en place d'équipements réseaux et de sécurité. Mise à jour de l'architecture réseau. Migration d’équipements Cisco vers Fortinet. Configuration de solutions de sécurité.
						</p>
					</div><br>
			
					<div class="experience-item">
						<strong>Sept. 2021 – Actuel</strong> - <em>Ambassadeur</em> - ECE, Paris
						<p>
							Organisation d'événements de promotions, prise de contact avec étudiants et parents.
						</p>
					</div>


			
				</div>
			</section>
			
			
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						Curieux, Créatif, Autonome, Organisé, Dynamique, Polyvalent, Travail d'équipe
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	p strong, p em {
    font-size: 0.9rem;
    color: var(--gray-200);
}

p em {
    font-style: italic;
}


	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
