---
// Importation des composants et des données
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Récupération des quatre derniers projets
const projects = (await getCollection('work'))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Bonjour, je m'appelle Rayane JERBI"
          tagline="En dernière année de Bachelor Sécurité et IT à l'ECE Paris, je prépare mon diplôme et un Master. Je recherche un stage de 4 à 5 mois pour finir mon bachelor, suivi d'une alternance de deux ans dès septembre 2024 dans la cybersécurité ou le développement web. Motivé et méticuleux, je souhaite enrichir votre entreprise tout en développant mes compétences professionnelles."
          align="start"
        >
          <div class="roles">
            <Pill><i class="fas fa-shield-alt"></i> Administrateur Systèmes & Réseaux</Pill>
            <Pill><i class="fas fa-university"></i> Étudiant à l'ECE Paris</Pill>
            <Pill><i class="fas fa-briefcase"></i> Recherche un stage & une alternance</Pill>
          </div>
        </Hero>
        <img alt="Rayane JERBI" width="480" height="620" src="/assets/portrait.jpg" />
      </header>

      <!-- Bouton de téléchargement du CV -->
      <div class="cta">
        <CallToAction href="/assets/CV Rayane JERBI.pdf" download>
          Télécharger mon CV <i class="fas fa-download" style="font-size: 1.2em;"></i>
        </CallToAction>
      </div>

      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Mes derniers projets</h3>
          <p>Découvrez ci-dessous quelques-uns de mes projets marquants réalisés au cours des dernières années.</p>
        </header>

        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>
        
        <div class="cta">
          <CallToAction href="/work/">
            Tous mes projets <i class="fas fa-arrow-right" style="font-size: 1.2em;"></i>
          </CallToAction>
        </div>
      </section>

      <!-- Compétences section -->
      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Compétences</h3>
          <p>Au fil des années, j'ai acquis et perfectionné un ensemble de compétences techniques et personnelles. Découvrez-les ci-dessous.</p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            {
              [
			  'Cybersécurité',
              'Réseaux Informatiques',
              'Virtualisation',
              'Systèmes d\'Exploitation',
              'DevOps & Versionning',
              'Programmation',
              'Développement Full Stack',
              'Base de Données',
              'Méthodologie & Conception',
              'Bureautique'
              ].map((competence) => (
                <li class="mention-card">
                  <p>{competence}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>


<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>