---
import Icon from './Icon.astro';
---

<section class="box skills">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <div class="stack gap-2 lg:gap-4">
        <i class="fas fa-shield-alt" style="color: var(--accent-regular); font-size: 2.5rem;"></i>
        <h2>Cybersécurité</h2>
        <p>Réalisation d'audits de sécurité avec Métasploitable, compétences en injection SQL sous Kali Linux et DVWA.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <i class="fas fa-network-wired" style="color: var(--accent-regular); font-size: 2.5rem;"></i>
        <h2>Administration Réseau</h2>
        <p>Compétences acquises en configuration et maintenance de réseaux chez Next Step IT et la Banque Tuniso-Libyenne, incluant la gestion des protocoles TCP/IP, VLAN, LAN, ainsi que l'utilisation de Cisco Packet Tracer et Fortinet.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <i class="fas fa-code" style="color: var(--accent-regular); font-size: 2.5rem;"></i>
        <h2>Développement Web et Mobile</h2>
        <p>Connaissance en développement avec une variété de technologies telles que C, Python, Java, Kotlin, HTML/CSS, JavaScript, Bootstrap, PHP, Symfony, Node JS, ainsi que l'utilisation d'outils comme Git, GitLab, et Docker.</p>
    </div>
</section>

<style>
    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>
